@import '~bootstrap/scss/bootstrap.scss';

$primary: BlueViolet;
$secondary: lightpink;
$body-bg: Ivory;
$secondary:white;

.card-custom{
    background-color: rgb(188, 231, 255) ;
    border-radius: 20px ; 
}

.margin-top-custom{
    margin-top: 15rem 
}

